extends ../layout-dashboard

block pageMeta
  //- Page title
  - const pageTitle = t('dashboard:myList.pageTitle', { lng: user.preferredLocale })
  //- Set the current pages
  - const section = "dashboard"
  - const current = "my-lists"
  //- - const currencies = currencies

block content
  #dashboard__lists-wrapper.d-flex.flex-nowrap.overflow-x-scroll.px-sm-4.py-3

    //- Lists
    if lists 
      each list in lists
        include lists-blocks.pug
        +listRender(list, user)

    //- Add list form
    .dashboard__new-list 
      .card.bg-transparent.px-3.border-0.drop-shadow

        .card-header.border-bottom-0
          //- Empty board message
          if lists.length === 0
            .text-center.mt-4.mx-2
              h2.fs-3.fw-bold.mb-3= t('dashboard:myList.emptyWorkspaceMessageTitle', { lng: user.preferredLocale })
              h3.fs-6.fst-italic= t('dashboard:myList.emptyWorkspaceMessageSubtitle', { lng: user.preferredLocale })

        .card-body.p-4
          form(action="/listas", method="post")

            .form-floating
              //- TODO: add value attribute
              input.form-control(type="text", name="listName", value="", required=true) 
              label(for="listName")= t('dashboard:myList.newListField', { lng: user.preferredLocale })
              //- TODO: check with new list form
              //- if errors.name 
              //-   .text-danger.mt-2 
              //-     span #{t(errors.name, { lng: user.preferredLocale })}

            //- Utility hidden inputs
            .d-none(aria-hidden="true")
              input(type="text", name="listWorkspace", value=workspace, readonly=true)

            .d-grid.mt-2
              button.btn.btn-secondary.text-light.text-shadow-emphasis(type="submit", name="fromForm", value="newList")= t('dashboard:myList.newListButton', { lng: user.preferredLocale })
              
              //- Empty board kaomoji
              if lists.length === 0
                .text-center.mt-5
                  p.fs-4(aria-hidden="true") (╯°ヮ°)╯ $ $ $

        .border-serrated