extends ../layout-dashboard

block content

  //- To inform navigation what page is this
  - var section = "dashboard"
  - var current = "my-lists"
  - var currencies = currencies

  #dashboard__lists-wrapper.d-flex.flex-nowrap.overflow-x-scroll.py-3.px-4
    if lists 
      each list in lists
        //- Formatter to style price on the List's currency
        - let listCurrency = list.currency ? list.currency : user.defaultCurrency;
        - let currencyFormatter = Intl.NumberFormat('es-CL', { style: 'currency', currency: listCurrency }); //- TODO: de-harcode this

        //- 
        //- List element
        .dashboard__lists__list
          .card.mx-2.bg-transparent.border-0.drop-shadow

            //- List menu
            .card-header.d-flex.align-items-center
              .dropdown
                  button.btn.btn-link.bi.bi-three-dots-vertical.dropdown-toggle.ps-0.pe-1(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                  ul.dropdown-menu
                    li
                      a.dropdown-item(href="/listas/" + list.id) Eliminar
              //- List name
              h2.fs-5.flex-grow-1.m-0 #{list.name}

            .card-body.p-0
              if list.Items.length > 0

                each item in list.Items

                  //- 
                  //- Item element
                  dashboard__lists__list__item.card.border-top-0.border-start-0.border-end-0.rounded-0.mx-3

                    .card-header.d-flex.px-0.pb-0.border-bottom-0
                      .dropdown
                        button.btn.btn-link.bi.bi-three-dots-vertical.dropdown-toggle.ps-0.pe-1(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                        ul.dropdown-menu
                          li
                            a.dropdown-item(href="/listas/item/" + item.id) Eliminar
                      h4.fs-6.flex-grow-1.fs-6.my-2 #{item.name}

                    .card-body.d-flex.flex-wrap.justify-content-end.px-0.column-gap-3.pt-0.pb-2
                      if item.quantity > 1
                        .text-body-tertiary
                          if item.price
                            | #{currencyFormatter.format(item.displayUnitPrice.amount)}&nbsp;×&nbsp;#{item.quantity}
                          else 
                            | #{item.quantity}&nbsp;unidades
                          | &nbsp;
                      if item.price
                        .fw-bold #{currencyFormatter.format(item.displayTotalPrice.amount)}
                      else 
                        div.text-bg-warning
                          span.fst-italic.px-2.py-1 Sin precio

              //- Empty list message
              else
                .text-body-tertiary.text-center.my-5
                  h4.fs-6.fst-italic.mb-4 Esta lista está vacía&hellip;
                  h4.fs-5(aria-hidden="true") .・・.・゜・。.*҉ 

            .card-footer

              //- Add item form
              form.dashboard__add-item.accordion.accordion-flush(id=list.id + "_form", action="/listas", method="post")
                .accordion-item
                  h5.accordion-header(id=list.id + "_form-toggle")
                    button.accordion-button.collapsed.px-2.py-1.rounded-pill.mt-2.mb-3(type="button", data-bs-toggle="collapse", data-bs-target="#" + list.id + "_form-content", aria-expanded="false", aria-controls=list.id + "_form-content") Agregar item
                  .accordion-collapse.collapse(id=list.id + "_form-content" aria-labelledby=list.id + "_form-toggle" data-bs-parent="#" + list.id +  + "_form")
                    .accordion-body.p-0

                      .input-group.mt-2
                        //- TODO: add value attribute
                        input.dashboard__add-item-name.form-control(type="text", name="itemName", placeholder="Nombre", value="", required=true)
                        label.visually-hidden(for="itemName") Nombre

                        span.input-group-text ×

                        //- TODO: add value attribute
                        label.visually-hidden(for="itemQuantity") Cantidad
                        input.dashboard__add-item-quantity.form-control(type="number", name="itemQuantity", min="1", value="1", required=true)
                        //- TODO: check with new list form
                        //- if errors.name
                        //-   .text-danger.mt-2
                        //-     span #{errors.name}

                      .input-group.mt-2
                        input.dashboard__add-item-price.form-control(type="text", name="itemPrice", pattern="[0-9.,]*", onkeydown="forbiddenChars(event)", onkeyup="priceFormating(this.value)", placeholder="Precio", value="")
                        label.visually-hidden(for="itemPrice") Precio
                        span.input-group-text #{user.defaultCurrency}
                        //- TODO: check with new list form
                        //- if errors.price
                        //-   .text-danger.mt-2
                        //-     span #{errors.price}

                      //- Utility hidden inputs
                      .d-none(aria-hidden="true")
                        input(type="text", name="listCurrency", value=user.defaultCurrency, readonly=true)
                        input(type="text", name="listId", value=list.id, readonly=true)

                      .d-grid.my-2 
                        button.btn.btn-primary.text-light.text-shadow-emphasis(type="submit", name="fromForm", value="newItem") Agregar

              //- Total of the list
              if list.Items.length > 0
                h3.dashboard__list-total.fs-6.fw-bold.text-end.py-3.mt-3.mb-1
                  if !list.total
                    span.bg-warning.px-2.py-2 Total desconocido
                  else if list.partialSum
                    span.bg-warning.px-2.py-1 Subtotal:&ensp;#{currencyFormatter.format(list.displayTotal.amount)}
                  else
                    span.py-1 Total:&ensp;#{currencyFormatter.format(list.displayTotal.amount)}
            .border-serrated

    .dashboard__lists__add-new(class=(lists.length === 0 ? 'mx-5' : ''))

      //- 
      //- Add list form
      .card.mx-2.bg-transparent.border-0.drop-shadow
        .card-header.border-bottom-0
          //- Empty board message
          if lists.length === 0
            .text-center.mt-4
              h2.fs-3.fw-bold.mb-3 ¡No hay listas en este tablero!
              h3.fs-6.fst-italic Pero no te preocupes, aquí abajo puedes crear la primera&hellip;

        .card-body.p-4
          form(action="/listas", method="post")

            .form-floating
              //- TODO: add value attribute
              input.form-control(type="text", name="listName", value="", required=true) 
              label(for="listName") Escriba el nombre de la lista:
              //- TODO: check with new list form
              //- if errors.name 
              //-   .text-danger.mt-2 
              //-     span #{errors.name}

            //- Utility hidden inputs
            .d-none(aria-hidden="true")
              input(type="text", name="listWorkspace", value=workspace, readonly=true)

            .d-grid.mt-2
              button.btn.btn-secondary.text-light.text-shadow-emphasis(type="submit", name="fromForm", value="newList") Crear nueva lista
              
              //- Empty board kaomoji
              if lists.length === 0
                .text-center.mt-5
                  p.fs-4(aria-hidden="true") (╯°ヮ°)╯ $ $ $

        .border-serrated