extends ../layout-dashboard

block pageMeta
  //- Page title
  - const pageTitle = t('user:myAccount.pageTitle', { lng: user.preferredLocale })
  //- Set the current pages
  - const section = "my-account"
  - const current = "account-data"

block content

  //- To translate currency codes to natural names
  - const currencyInLocale = new Intl.DisplayNames([user.preferredLocale], { type: 'currency' });

  #dashboard__panel__wrapper.container-xxl
    .row.px-sm-4.py-4

      //- Update user profile
      section.dashboard__panel.col-lg-6
        .card.mb-4.border-0.shadow-lg
          .card-header.p-4.pb-0
            h2.mb-4= t('user:myAccount.accountDataSection', { lng: user.preferredLocale })
    
          .card-body.p-4
            form(action="/mi-cuenta", method="post") 

              .row.mb-3
                .col-sm-4.mb-1
                  label(for="firstName") #{t('user:user.firstName', { lng: user.preferredLocale })}&thinsp;*
                .col-sm-8
                  input.form-control(type="text", name="firstName", value=user.firstName, required)
                  if errors.firstName
                    .text-danger.mt-2 
                      small #{errors.firstName}

              .row.mb-3
                .col-sm-4.mb-1 
                  label(for="lastName") #{t('user:user.lastName', { lng: user.preferredLocale })} 
                .col-sm-8
                  input.form-control(type="text", name="lastName", value=user.lastName)
                  if errors.lastName 
                    .text-danger.mt-2 
                      small #{errors.lastName}
            
              .row.mb-3
                .col-sm-4.mb-1 
                  label(for="email") #{t('user:user.email', { lng: user.preferredLocale })}&thinsp;*
                .col-sm-8
                  input.form-control(type="text", name="email", value=user.email, required)
                  if errors.email 
                    .text-danger.mt-2 
                      small #{errors.email}
              
              .row.mb-3
                .col-sm-4.mb-1 
                  label(for="preferredLocale") #{t('user:user.preferredLocale', { lng: user.preferredLocale })}&thinsp;*
                .col-sm-8
                  select.form-select(name="preferredLocale", required=true)
                    - for (const lang in langmap)
                      if lang === user.preferredLocale 
                        option(value=lang, selected) #{langmap[lang]['nativeName']}
                      else 
                        option(value=lang) #{langmap[lang]['nativeName']}
                  if errors.preferredLocale 
                    .text-danger.mt-2 
                      small #{errors.preferredLocale}
              
              //- TODO: Keep readonly until list could had different currencies that the user default,
              //- so when a user changes its default currency, all list that default to user's
              //- previous default are setted explicitly to that currency.
              .row.mb-3
                .col-sm-4.mb-1 
                  label(for="defaultCurrency") #{t('user:user.currency', { lng: user.preferredLocale })}&thinsp;
                .col-sm-8
                  p #{user.defaultCurrency} &ndash; #{currencyInLocale.of(user.defaultCurrency)}
                  //- select.form-select(name="defaultCurrency", required=true)
                  //-   each currency in currencies
                  //-     if currency.code === user.defaultCurrency
                  //-       option(value=currency.code, selected) #{currency.code} &ndash; #{currencyInLocale.of(currency.code)}
                  //-     else 
                  //-       option(value=currency.code) #{currency.code} &ndash; #{currencyInLocale.of(currency.code)}
                  //- if errors.defaultCurrency 
                  //-   .text-danger.mt-2 
                  //-     small #{errors.defaultCurrency}
              div 
                button.btn.btn-primary.text-light(type="submit", name="fromForm", value="updateUser")= t('user:myAccount.updateAccountData', { lng: user.preferredLocale })

      //- Update password
      section.dashboard__panel.col-lg-6
        .card.mb-4.border-0.shadow-lg
          .card-header.p-4.pb-0
            h2.mb-4= t('user:myAccount.passwordSection', { lng: user.preferredLocale })
        
          .card-body.p-4
            if success 
              p= t('user:myAccount.passwordUpdated', { lng: user.preferredLocale })
            form(action="/mi-cuenta", method="post")

              .row.mb-3 
                .col-sm-6.mb-1
                  label(for="currentPassword") #{t('user:myAccount.currentPassword', { lng: user.preferredLocale })}&thinsp;*
                .col-sm-6
                  input(type="password", name="currentPassword", required=true, class="form-control")
                  if errors.currentPassword 
                    .text-danger.mt-2
                      small #{errors.currentPassword}
              
              .row.mb-3 
                .col-sm-6.mb-1
                  label(for="newPassword") #{t('user:myAccount.newPassword', { lng: user.preferredLocale })}&thinsp;*
                .col-sm-6
                  input(type="password", name="newPassword", required=true, class="form-control")
                  if errors.newPassword 
                    .text-danger.mt-2
                      small #{errors.newPassword}

              .row.mb-3
                .col-sm-6.mb-1
                  label(for="passwordConfirmation") #{t('user:user.passwordConfirmation', { lng: user.preferredLocale })}&thinsp;*
                .col-sm-6 
                  input(type="password", name="passwordConfirmation", required=true, class="form-control")
                  if errors.passwordConfirmation 
                    .text-danger.mt-2
                      small #{errors.passwordConfirmation}
              div 
                button.btn.btn-primary.text-light(type="submit", name="fromForm", value="updatePassword", class="btn btn-primary")= t('user:myAccount.updatePassword', { lng: user.preferredLocale })