extends ../layout-home

block content
  .col-sm-8.col-xl-6 
    a(href="/" class="btn btn-outline-primary mt-4")
      span.bi.bi-arrow-left 
      | Volver 
    section.card.my-5.shadow-lg
      .card-body.p-5
        h2.card-title.mt-2.mb-3 Registro
        p Cree una cuenta para guardar sus propias listas.
        form(action="/registro", method="post")
          .form-floating.mb-3
            input.form-control(type="text", name="firstName", value=formData.firstName, required)
            label(for="firstName") Nombre&thinsp;*
            if errors.firstName
              .text-danger.mt-2
                small #{errors.firstName}
          .form-floating.mb-3
            input.form-control(type="text", name="lastName", value=formData.lastName)
            label(for="lastName") Apellido
            if errors.lastName
              .text-danger.mt-2
                small #{errors.lastName}
          .form-floating.mb-3
            input.form-control(type="email", name="email", value=formData.email, required)
            label(for="email") Correo electrónico&thinsp;*
            if errors.email
              .text-danger.mt-2
                small #{errors.email}
          .form-floating.mb-3 
            select.form-select(name="defaultCurrency", value=formData.defaultCurrency, required)
              option 
              each currency in currencies
                if currency.code === formData.defaultCurrency
                  option(value=currency.code, selected) #{currency.code}
                else 
                  option(value=currency.code) #{currency.code} 
            label(for="defaultCurrency") Moneda&thinsp;*  
            if errors.defaultCurrency
              .text-danger.mt-2 
                small #{errors.defaultCurrency}
          .form-floating.mb-3
            input.form-control(type="password", name="password", required)
            label(for="password") Contraseña&thinsp;*
            if errors.password
              .text-danger.mt-2
                small #{errors.password}
          .form-floating.mb-3
            input.form-control(type="password", name="passwordConfirmation", required)
            label(for="passwordConfirmation") Repita la contraseña&thinsp;*
            if errors.passwordConfirmation
              .text-danger.mt-2
                small #{errors.passwordConfirmation}
          .mb-3 
            p 
              small Los campos marcados con * son obligatorios.
          div
            input.btn.btn-primary(type="submit", value="Registrarse")
