extends ../layout

block content
  h1 🛒 Lista de compras 💸
  h3 Registrese para crear sus listas
  form(action="/registro", method="post")
    div
      div
        label(for="firstName") Nombre*
      div
        input(type="text", name="firstName", value=formData.firstName, required)
        if (errors.firstName)
          span #{errors.firstName}
    div
      div
        label(for="lastName") Apellido
      div
        input(type="text", name="lastName", value=formData.lastName)
        if (errors.lastName)
          span #{errors.lastName}
    div
      div
        label(for="email") Correo electrónico*
      div
        input(type="email", name="email", value=formData.email, required)
        if (errors.email)
          span #{errors.email}
    div
      div
        label(for="password") Contraseña*
      div
        input(type="password", name="password", required)
        if (errors.password)
          span #{errors.password}
    div
      div
        label(for="passwordConfirmation") Repita la contraseña*
      div
        input(type="password", name="passwordConfirmation", required)
        if (errors.passwordConfirmation)
          span #{errors.passwordConfirmation}
    div
      input(type="submit", value="Registrarse")
