extends ../layout-home

block pageMeta

  //- Page title
  - const pageTitle = t('index:register.pageTitle')

block content

  //- To translate currency codes to natural names
  - const currencyInLocale = new Intl.DisplayNames(browserLocale, { type: 'currency' });
  //- To inform navigation what page is this
  - const current = "register"

  //- Back to home
  .col-md-10.col-lg-8.col-xl-6.mt-5 
    a.btn.btn-primary.text-light.text-shadow-emphasis(href="/")
      span.bi.bi-arrow-left 
      | #{t('navigation.back')} 

    //- 
    //- Register form
    section.card.my-5.border-0.shadow-lg
      .card-body.p-4.p-md-5
        h2.card-title.fs-4.mt-2.mb-4= t('index:register.title')
        form(action="/registro", method="post")

          .form-floating.mt-3.mb-1
            input.form-control(type="text", name="firstName", value=formData.firstName, required=true)
            label(for="firstName") #{t('user:user.firstName')}&thinsp;*
          if errors.firstName
            .alert.alert-danger.py-1.px-2.my-2
              small #{t(errors.firstName)}

          .form-floating.mt-3.mb-1
            input.form-control(type="text", name="lastName", value=formData.lastName)
            label(for="lastName") #{t('user:user.lastName')}
          if errors.lastName
            .alert.alert-danger.py-1.px-2.my-2
              small #{t(errors.lastName)}

          .form-floating.mt-3.mb-1
            input.form-control(type="email", name="email", value=formData.email, required=true)
            label(for="email") #{t('user:user.email')}&thinsp;*
          if errors.email
            .alert.alert-danger.py-1.px-2.my-2
              small #{t(errors.email)}

          .form-floating.mt-3.mb-1
            select.form-select(name="preferredLocale", required=true)
              option
              - for (const lang in langmap)
                if lang === formData.preferredLocale 
                  option(value=lang, selected) #{langmap[lang]['nativeName']}
                else 
                  option(value=lang) #{langmap[lang]['nativeName']}
            label(for="preferredLocale") #{t('user:user.preferredLocale')}&thinsp;*  
          if errors.defaultCurrency
            .alert.alert-danger.py-1.px-2.my-2 
              small #{t(errors.defaultCurrency)}
          p.mx-2
            small.fst-italic= t('index:register.preferredLocaleComment')

          .form-floating.mt-3.mb-1 
            select.form-select(name="defaultCurrency", required=true)
              option 
              each currency in currencies
                if currency.code === formData.defaultCurrency
                  option(value=currency.code, selected) #{currency.code} &ndash; #{currencyInLocale.of(currency.code)}
                else 
                  option(value=currency.code) #{currency.code} &ndash; #{currencyInLocale.of(currency.code)}
            label(for="defaultCurrency") #{t('user:user.currency')}&thinsp;*  
          if errors.defaultCurrency
            .alert.alert-danger.py-1.px-2.my-2 
              small #{t(errors.defaultCurrency)}

          .form-floating.mt-3.mb-1
            input.form-control(type="password", name="password", required=true)
            label(for="password") #{t('user:user.password')}&thinsp;*
          if errors.password
            .alert.alert-danger.py-1.px-2.my-2
              small #{t(errors.password)}
          p.mx-2
            small.fst-italic= t('index:register.passwordComment')

          .form-floating.mt-3.mb-1
            input.form-control(type="password", name="passwordConfirmation", required=true)
            label(for="passwordConfirmation") #{t('user:user.passwordConfirmation')}&thinsp;*
          if errors.passwordConfirmation
            .alert.alert-danger.py-1.px-2.my-2
              small #{t(errors.passwordConfirmation)}

          p.mx-2.my-4= t('index:register.mandatoryFieldsComment')

          div
            button.btn.btn-secondary.text-light.text-shadow-emphasis(type="submit")= t('session.signup')
