extends ../layout-home


block content

  //- To translate currency codes to natural names
  - const currencyInLocale = new Intl.DisplayNames(['es-CL'], { type: 'currency' });
  //- To inform navigation what page is this
  - const current = "register"

  //- Back to home
  .col-md-10.col-lg-8.col-xl-6.mt-5 
    a.btn.btn-primary.text-light.text-shadow-emphasis(href="/")
      span.bi.bi-arrow-left 
      | Volver 

    //- 
    //- Register form
    section.card.my-5.border-0.shadow-lg
      .card-body.p-4.p-md-5
        h2.card-title.mt-2.mb-3 Registro
        p Cree una cuenta para guardar sus propias listas.
        form(action="/registro", method="post")

          .form-floating.mb-3
            input.form-control(type="text", name="firstName", value=formData.firstName, required=true)
            label(for="firstName") Nombre&thinsp;*
            if errors.firstName
              .text-danger.mt-2
                small #{errors.firstName}

          .form-floating.mb-3
            input.form-control(type="text", name="lastName", value=formData.lastName)
            label(for="lastName") Apellido
            if errors.lastName
              .text-danger.mt-2
                small #{errors.lastName}

          .form-floating.mb-3
            input.form-control(type="email", name="email", value=formData.email, required=true)
            label(for="email") Correo electrónico&thinsp;*
            if errors.email
              .text-danger.mt-2
                small #{errors.email}

          .form-floating.mb-3
            select.form-select(name="preferredLocale", required=true)
              option
              - for (const lang in langmap)
                if lang === formData.preferredLocale 
                  option(value=lang, selected) #{langmap[lang]['nativeName']}
                else 
                  option(value=lang) #{langmap[lang]['nativeName']}
            label(for="preferredLocale") Idioma&thinsp;*  
            if errors.defaultCurrency
              .text-danger.mt-2 
                small #{errors.defaultCurrency}

          .form-floating.mb-3 
            select.form-select(name="defaultCurrency", required=true)
              option 
              each currency in currencies
                if currency.code === formData.defaultCurrency
                  option(value=currency.code, selected) #{currencyInLocale.of(currency.code)} (#{currency.code})
                else 
                  option(value=currency.code) #{currencyInLocale.of(currency.code)} (#{currency.code})
            label(for="defaultCurrency") Moneda&thinsp;*  
            if errors.defaultCurrency
              .text-danger.mt-2 
                small #{errors.defaultCurrency}

          .form-floating.mb-3
            input.form-control(type="password", name="password", required=true)
            label(for="password") Contraseña&thinsp;*
            if errors.password
              .text-danger.mt-2
                small #{errors.password}
          p.mx-2
            small.fst-italic La contraseña debe tener entre 8 y 72 caracteres, y al menos una minúscula, una mayúscula, un dígito y un caracter especial.

          .form-floating.mb-3
            input.form-control(type="password", name="passwordConfirmation", required=true)
            label(for="passwordConfirmation") Repita la contraseña&thinsp;*
            if errors.passwordConfirmation
              .text-danger.mt-2
                small #{errors.passwordConfirmation}

          p.mx-2.mb-4 
            small.fst-italic Los campos marcados con * son obligatorios.

          div
            button.btn.btn-secondary.text-light.text-shadow-emphasis(type="submit") Registrarse
